<md-content layout-fill id="exploreViewContainer" data-ng-controller="ExploreController" class="overflowHidden">
  <md-content layout="flex" layout-align="center center">
    <!--<label>{{ 'QUERY-INPUT-LABEL' | translate }}</label>-->

    <!--<input type="text" ng-model="query" placeholder="Entrez votre recherche" required ng-enter="getSearch()">-->
    <!--<md-input-container md-no-float class="md-block">-->
      <input id="searchInput" ng-model="query" placeholder="Entrez votre recherche" ng-enter="getSearch()" type="text">
    <!--</md-input-container>-->
    <md-button ng-click="getSearch()"><span class="glyphicon glyphicon-search"></span></md-button>
    <md-button ng-mousedown="addTab()" onclick="document.getElementById('searchInput').setSelectionRange(0, document.getElementById('searchInput').value.length);"><span class="glyphicon glyphicon-plus"></span></md-button>
    <md-button ng-click="removeTab( currentTab )" ng-disabled="tabs.length <= 1"><span class="glyphicon glyphicon-minus"></span></md-button>
  </md-content>

  <md-content style="height: calc(100% - 48px);  overflow: hidden;">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect class="fillContainer">
      <md-tab ng-repeat="tab in tabs"
              ng-disabled="tab.disabled"
              label="{{tab.title}}">

        <!--<div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">-->


          <md-content ng-hide="tab.isOk" style="  display: flex;justify-content: center;margin-top: 30px;">
            <span>Veuillez saisir un élément de recherche et taper sur entrer</span>
          </md-content>

          <md-content class="resultsContainer" layout="row" layout-fill ng-show="tab.isOk" >

            <!--<md-toolbar md-scroll-shrink>-->
              <!--<div class="md-toolbar-tools">Results</div>-->
            <!--</md-toolbar>-->

            <md-content flex="50">
              <section>
                <md-subheader  class="md-primary">Youtube</md-subheader>
                <md-list layout-padding>
                  <md-list-item ng-click="addToList(item)" class="md-3-line" ng-repeat="item in tab.youtubeResult track by $index">
                    <img ng-src="{{item.image}}" class="searchPicture">
                    <div class="md-list-item-text">
                      <h3>{{item.title}}</h3>
                      <h4 ng-show="item.kind != 'playlist'">{{Math.floor(item.duration / 60)+"m"+(item.duration%60)+"s"}}</h4>
                      <p>
                        {{item.kind}}
                      </p>
                    </div>
                  </md-list-item>
                </md-list>
              </section>
            </md-content>

            <md-content flex="50">
              <section>
                <md-subheader  class="md-primary">Dailymotion</md-subheader>
                <md-list layout-padding>
                  <md-list-item ng-click="addToList(item)" class="md-3-line" ng-repeat="item in tab.dailymotionResult track by $index">
                    <img ng-src="{{item.image}}" class="searchPicture">
                    <div class="md-list-item-text">
                      <h3>{{item.title}}</h3>
                      <h4 ng-show="item.kind != 'playlist'">{{Math.floor(item.duration / 60)+"m"+(item.duration%60)+"s"}}</h4>
                      <p>
                        {{item.kind}}
                      </p>
                    </div>
                  </md-list-item>
                </md-list>
              </section>
            </md-content>

            <!--<md-content layout="column" layout-fill>-->
            <!--<md-toolbar class="md-theme-light">-->
            <!--<h2 class="md-toolbar-tools">-->
            <!--<span>Vimeo</span>-->
            <!--</h2>-->
            <!--</md-toolbar>-->
            <!--<ul ng-repeat="item in tab.vimeoResult track by $index" layout="column">-->
            <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
            <!--</ul>-->
            <!--</md-content>-->
            <!--<md-content layout="column" layout-fill>-->
            <!--<md-toolbar class="md-theme-light">-->
            <!--<h2 class="md-toolbar-tools">-->
            <!--<span>Soundcl</span>-->
            <!--</h2>-->
            <!--</md-toolbar>-->
            <!--<ul ng-repeat="item in tab.soundcloudResult track by $index" layout="column">-->
            <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
            <!--</ul>-->
            <!--</md-content>-->
            <!--<md-content layout="column" layout-fill>-->
            <!--<md-toolbar class="md-theme-light">-->
            <!--<h2 class="md-toolbar-tools">-->
            <!--<span>Deezer</span>-->
            <!--</h2>-->
            <!--</md-toolbar>-->
            <!--<ul ng-repeat="item in tab.deezerResult track by $index" layout="column">-->
            <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
            <!--</ul>-->
            <!--</md-content>-->
            <!--<md-content layout="column" layout-fill>-->
            <!--<md-toolbar class="md-theme-light">-->
            <!--<h2 class="md-toolbar-tools">-->
            <!--<span>Spotify</span>-->
            <!--</h2>-->
            <!--</md-toolbar>-->
            <!--<ul ng-repeat="item in tab.spotifyResult track by $index" layout="column">-->
            <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
            <!--</ul>-->
            <!--</md-content>-->
            <!--<md-content layout="column" layout-fill>-->
            <!--<md-toolbar class="md-theme-light">-->
            <!--<h2 class="md-toolbar-tools">-->
            <!--<span>Dailymotion</span>-->
            <!--</h2>-->
            <!--</md-toolbar>-->
            <!--<ul ng-repeat="item in tab.dailymotionResult track by $index" layout="column">-->
            <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
            <!--</ul>-->
            <!--</md-content>-->

          </md-content>
          <br/>

        <!--</div>-->
      </md-tab>
    </md-tabs>
  </md-content>


</md-content>
