<div id="exploreViewContainer" data-ng-controller="ExploreController" >
  <label>{{ 'QUERY-INPUT-LABEL' | translate }}</label>
  <input type="text" ng-model="query" required ng-enter="getSearch()">
  <button ng-click="addTab()">+</button>
  <md-content class="md-padding">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect style="height: 100%;">
      <md-tab ng-repeat="tab in tabs"
              ng-disabled="tab.disabled"
              label="{{tab.title}}">

        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
          <md-button class="md-primary md-raised" layout-align="top right" ng-click="removeTab( tab )" ng-disabled="tabs.length <= 1">Remove Tab</md-button>

          <md-content ng-hide="tab.isOk">
            Veuillez saisir un élément de recherche et taper sur entrer
          </md-content>

          <md-content class="resultsContainer" layout="row" layout-fill ng-show="tab.isOk">
            <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
            <span>Youtube</span>
            </h2>
            </md-toolbar>
            <ul ng-repeat="item in tab.youtubeResult track by $index" >
            <li ng-click="addToList(item)">{{item.title}}</li>
            </ul>
            </md-content>
            <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
            <span>Vimeo</span>
            </h2>
            </md-toolbar>
            <ul ng-repeat="item in tab.vimeoResult track by $index" layout="column">
            <li ng-click="addToList(item)">{{item.title}}</li>
            </ul>
            </md-content>
            <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
            <span>Soundcl</span>
            </h2>
            </md-toolbar>
            <ul ng-repeat="item in tab.soundcloudResult track by $index" layout="column">
            <li ng-click="addToList(item)">{{item.title}}</li>
            </ul>
            </md-content>
            <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
            <span>Deezer</span>
            </h2>
            </md-toolbar>
            <ul ng-repeat="item in tab.deezerResult track by $index" layout="column">
            <li ng-click="addToList(item)">{{item.title}}</li>
            </ul>
            </md-content>
            <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
            <span>Spotify</span>
            </h2>
            </md-toolbar>
            <ul ng-repeat="item in tab.spotifyResult track by $index" layout="column">
            <li ng-click="addToList(item)">{{item.title}}</li>
            </ul>
            </md-content>
            <md-content layout="column" layout-fill>
            <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
            <span>Dailymotion</span>
            </h2>
            </md-toolbar>
            <ul ng-repeat="item in tab.dailymotionResult track by $index" layout="column">
            <li ng-click="addToList(item)">{{item.title}}</li>
            </ul>
            </md-content>

          </md-content>

          <!--<div ng-bind="tab.content"></div>-->

          <br/>

        </div>
      </md-tab>
    </md-tabs>
  </md-content>






  <!--<md-content id="resultsContainer" layout="row" layout-fill>-->
    <!--<md-content layout="column" layout-fill>-->
      <!--<md-toolbar class="md-theme-light">-->
        <!--<h2 class="md-toolbar-tools">-->
          <!--<span>Youtube</span>-->
        <!--</h2>-->
      <!--</md-toolbar>-->
      <!--<ul ng-repeat="item in youtubeResult track by $index" >-->
        <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
      <!--</ul>-->
    <!--</md-content>-->
    <!--<md-content layout="column" layout-fill>-->
      <!--<md-toolbar class="md-theme-light">-->
        <!--<h2 class="md-toolbar-tools">-->
          <!--<span>Vimeo</span>-->
        <!--</h2>-->
      <!--</md-toolbar>-->
      <!--<ul ng-repeat="item in vimeoResult track by $index" layout="column">-->
        <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
      <!--</ul>-->
    <!--</md-content>-->
    <!--<md-content layout="column" layout-fill>-->
      <!--<md-toolbar class="md-theme-light">-->
        <!--<h2 class="md-toolbar-tools">-->
          <!--<span>Soundcl</span>-->
        <!--</h2>-->
      <!--</md-toolbar>-->
      <!--<ul ng-repeat="item in soundcloudResult track by $index" layout="column">-->
        <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
      <!--</ul>-->
    <!--</md-content>-->
    <!--<md-content layout="column" layout-fill>-->
      <!--<md-toolbar class="md-theme-light">-->
        <!--<h2 class="md-toolbar-tools">-->
          <!--<span>Deezer</span>-->
        <!--</h2>-->
      <!--</md-toolbar>-->
      <!--<ul ng-repeat="item in deezerResult track by $index" layout="column">-->
        <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
      <!--</ul>-->
    <!--</md-content>-->
    <!--<md-content layout="column" layout-fill>-->
      <!--<md-toolbar class="md-theme-light">-->
        <!--<h2 class="md-toolbar-tools">-->
          <!--<span>Spotify</span>-->
        <!--</h2>-->
      <!--</md-toolbar>-->
      <!--<ul ng-repeat="item in spotifyResult track by $index" layout="column">-->
        <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
      <!--</ul>-->
    <!--</md-content>-->
    <!--<md-content layout="column" layout-fill>-->
      <!--<md-toolbar class="md-theme-light">-->
        <!--<h2 class="md-toolbar-tools">-->
          <!--<span>Dailymotion</span>-->
        <!--</h2>-->
      <!--</md-toolbar>-->
      <!--<ul ng-repeat="item in dailymotionResult track by $index" layout="column">-->
        <!--<li ng-click="addToList(item)">{{item.title}}</li>-->
      <!--</ul>-->
    <!--</md-content>-->

  <!--</md-content>-->
</div>
