 .authenticationblock > img {
 	display: inline-block;
 	width: 85px;
 	background-color: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    margin: 2px;
 }

 .signin-form > md-input-container {
 	display: inline-block;
 }